* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 3rem;
    margin: auto;
    font-size:0;

}

.header-left{
    width: 50%;
    height: 3rem;
    line-height: 2rem;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    padding: 1rem 1.5rem;
}

.header-right{
    width: 50%;
    height: 3rem;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    padding: 0.7rem 1rem;
    vertical-align: top;

}

#google_store{
    margin-left: 1rem;
}

#gmail, #images, #apps{
    margin-right: 1rem;
}

#login{
    width: 6rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
    background-color: #2d78d9;
    color:white;
}


a{
    text-decoration: none;
    color: black;
}



main{
    margin: auto;
    height: 725px;
    width: auto;
    position: relative;
    font-size: 0px;
}

#googleLogo{
    width: 16rem;
    height: 5rem;
    position: absolute;
    top: 35%;
    left: 50%;
    bottom: 50px; 
    transform: translate(-50%, -50%);

}


#searchcontainer{
    width: 40rem; 
    height: 3rem;
    position: relative;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);

}
#search{
    width: 40rem;
    height: 3rem;
    background-color: white;
    border: solid 1px #d9d9d9;
    border-radius: 30px;
    padding-left: 3rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#searchIcon, #keyboardIcon, #micIcon, #cameraIcon{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 8px;
}
#searchIcon{
    left: 2%;
}
#keyboardIcon{
    left: 78%;
}
#micIcon{
    left: 85%;
}   
#cameraIcon{
    left: 92%;
}

.btn-container{
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    top: 55%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

#googleSearch, #lucky{
    height: 2rem;
    border: none;
    border-radius: 5px;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    background-color: #f6f5f5;

}
#googleSearch{
    width: 7rem;
}
#lucky{
    width: 8rem;
}
footer{
    width: 100%;
    height: 3rem;
    background-color: #f2f2f2;
    margin: auto;
}

.footer-up{
    width: 100%;
    height: 3rem;
    display: inline-block;
    background-color: f2f2f2;
    text-align: left;
    padding: 1rem 2rem;
}
#country{
    font-size: 15px;

}
.footer-down{
    width: 100%;
    height: 3rem;
    line-height: 2rem;
    display: inline-block;
    text-align: center;
    font-size: 0;
    background-color: #f2f2f2;
    
}
.footer-left{
    width: 50%;
    height: 3rem;
    display: inline-block;
    text-align: left;
    font-size: 14px;
    padding: 0.7rem 1rem;
}

.footer-right{
    width: 50%;
    height: 3rem;
    display: inline-block;
    text-align: right;
    font-size: 14px;
    padding: 0.7rem 1rem;
}
#business, #howsearchworks{
    margin-left: 1rem;
}
#privacy, #terms{
    margin-right: 1rem;
}

#setting{
    border: none;
    vertical-align: middle;
    font-size: 14px;
    margin-bottom: 0.rem;
}